body {
    margin: 0;
}

div.header {
    position: fixed;
    top: 0;
    padding: 20px;
    margin: 0;
    height: 64px;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.gridcontainer {
    margin: 0;
    display: grid;
    grid-template-columns: 67vw;
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
    align-content: center;
    background: #9986e4;
    background: linear-gradient(151deg, #9986e4, #c7e9ff, #f3f0ed);
    background-attachment: fixed;
    width: 100vw;
}

div.box {
    height: 220px;
    background-attachment: fixed;
}

div#top-box {
    padding-top: 64px;
}