@font-face {
    font-family: 'Inter';
    src: url("/fonts/Inter-VariableFont_opsz\,wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Brygada1918';
    src: url("/fonts/Brygada1918-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'Brygada1918';
    src: url("/fonts/Brygada1918-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

html{
    font-size: clamp(10px, 1vw, 16px);
}

body {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #FBF0FB;
    background: linear-gradient(157deg, #A414AC, #462DB7, #300E60);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

h1 {
    font-family: 'Brygada1918', 'Times New Roman', Times, serif;
    color: #F86CFF;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-family: 'Brygada1918', 'Times New Roman', Times, serif;
    color: #6CE4FF;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-family: 'Brygada1918', 'Times New Roman', Times, serif;
    color: #FBF0FB;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

div.header {
    position: fixed;
    top: 0;
    padding: 0px 65px;
    margin: 0;
    height: 100px;
    backdrop-filter: blur(10px);
    background: linear-gradient(90deg, #A414AC60, #462DB760);
    box-shadow: 0px 4px 10px #18075640;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: #FBF0FB;
    font-family: 'Brygada1918', 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

div.header h1 {
    font-size: 16px;
    font-weight: 300;
}

div.header h1 span.name {
    font-family: 'Brygada1918', 'Times New Roman', Times, serif;
    font-weight: 600;
}

div.gridcontainer {
    margin: 0;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    padding: 100px 65px;
}

div.structure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header header"
    "landing landing"
    "footer footer";
    justify-content: center;
    align-content: center;
    position: relative;
}

div.landing {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 20%;
    margin-top: 150px;
}

div#text {
    align-items: center;
}

div.title-left {
    text-align: left;
    width: fit-content;
    padding-bottom: 40px;
}

div.title-right {
    bottom: 0;
    right: 0;
}

div.landing h1{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color:#FBF0FB;
    font-weight: 650;
    font-size: 11rem;
    text-transform: uppercase;
    line-height: 90%;
    margin: 0;
}

div.landing h2{
    font-family: 'Brygada1918', 'Times New Roman', Times, serif;
    font-weight: 650;
    color: #F86CFF;
    font-size: 4rem;
    line-height: 0;
    margin: 0;
    padding-bottom: 15px;
}

h2#hi{
    text-align: right;
    margin-bottom: 10px;
}

div.landing h3{
    font-family: 'Brygada1918', 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #6CE4FF;
    font-size: 10rem;
    text-align: right;
    line-height: 90%;
    margin: 0;
}

span#a {
    font-family: 'Brygada1918', 'Times New Roman', Times, serif;
    font-weight: 650;
    color: #F86CFF;
    font-size: 4rem;
    line-height: 0;
    margin: 0;
    padding: 0px 10px 0px 0px ;
}

span#first-line {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    float: right;
}

/* Start of About */

    div.about{
        display: grid;
        grid-template-areas:
    "profile about"
    "education skills";
        grid-template-rows: 350px auto;
        padding: 0px 20%;
        margin-top: 150px;
        margin-bottom: 85px;

    }

    /* Row 1 */

            img#profile{
            grid-area: 'profile';
            display: inline-block;
            margin: 0px 10px 10px 0px;
            box-shadow: 0px -4px 10px #18075640;
            min-width: 100px;
            min-height: 100px;
            max-width: 350px;
            max-height: 350px;
            }

            div#about {
            grid-area: 'about';
            }

            p#about {
                font-size: 1.5em;
            }
        
    /* Row 2 */
            div#education{
                grid-area: 'education';
            }

            div#skills{
                grid-area: 'skills';
            }




        

/* End of About */



div.footer {
    backdrop-filter: blur(10px);
    box-shadow: 0px -4px 10px #18075640;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    padding: 10px 65px;
    width: 100vw;
    height: 50px;
    margin: 0px;
    font-size: 16px;
}

div.footer h1 {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Brygada1918', 'Times New Roman', Times, serif;
}

div.footer ul img {
    width: 20px;
}

ul li#button a {
    padding: 10px;
}

button#linkedin {
  background-color: #F86CFF;
  border: none;
  border-radius: 5px;
  padding: 4px 6px;
}

button#github {
    display: inline-block;
    background-color: #6CE4FF;
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
}

button#linkedin:hover {
  background-color: #FBF0FB;
  cursor: pointer;
}

button#github:hover {
    display: inline-block;
    background-color: #FBF0FB;
    cursor: pointer;
}